﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Item Store</h1>
    <p class="lead">Where you buy your Items</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            About itemStore
        </p>
    </div>

</div>