﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Item Store</h1>
    <p class="lead">Where you buy your Items</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            First go to Category check which category your item will be.
        </p>
    </div>
    <div class="col-md-4">
        <h2>ItemType</h2>
        <p>Then create the itemType you will enter what item is and his image</p>
    </div>
    <div class="col-md-4">
        <h2>Creating Item</h2>
        <p>Then create item you will need to insert the Quality, quantity and prise for this item.</p>
        <p>And it will show up for the other users</p>
    </div>
</div>