﻿@model IEnumerable<ItemStore.Models.ItemType>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            Name
        </th>

        <th>Image</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.imageURL) alt="" height="42" width="42">
            </td>
            <td>
                @Html.ActionLink("Create Item", "Index", "Item", new { id = item.id }, null)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to list", "Index", "Category")
</div>