﻿@model ItemStore.Models.ItemType

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@if(ViewBag.Message != null)
{
    <h4 style="color:red">@ViewBag.Message</h4>
}

@using (Html.BeginForm("Create", "ItemType", FormMethod.Post,
                           new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-group">
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" style="width: 100%;" />
    </div>

    <div class="form-group">
        <label>Name:</label>
        <div>
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>


    <input type="submit" value="Upload" class="submit" />
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
