﻿@model IPagedList<ItemStore.Models.ItemType>
@using PagedList.Mvc;
@using PagedList;

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.category.id })
</p>


@{
    ViewBag.Title = "Index";
}
<p>
    @using (Html.BeginForm("Index", "ItemType", FormMethod.Get))
    {
        <input type="text" name="search">
        <input type="hidden" name="categoryId" value=@ViewBag.category.id>
        <input type="submit" name="submit" value="Search">
    }
</p>
<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Name
        </th>

        <th>Image</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @ViewBag.category.name
        </td>
        <td>
            @item.name
        </td>
        <td>
            @{ String[] urlSplit = item.imageURL.Split('.');
                urlSplit[0] = "https://previews";
                string imageurl = String.Join(".", urlSplit);
            }
            <img src=@imageurl alt="" height="42" width="42">
        </td>
        <td>
            @Html.ActionLink("Create Item", "Index", "Item", new { itemTypeId = item.id }, null)
        </td>
    </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to list", "Index", "Category")
</div>

<br />
@Html.PagedListPager(Model, i => Url.Action("Index", "ItemType", new { search = Request.QueryString["search"],i, categoryId = ViewBag.category.id }))
