﻿@using Microsoft.AspNet.Identity
@model IEnumerable<ItemStore.Models.Item>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            Owner
        </th>
        <th>
            ItemType
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>

        <th>Quality</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @foreach (var owner in ViewBag.owners)
            {
                if (owner.Id == item.ownerId)
                {
                    <p>@owner.UserName</p>
                    break;
                }

            }
        </td>
        <td>
            @ViewBag.type
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @foreach (var quality in ViewBag.Qualities)
            {
                if (quality.id == (item.qualityId))
                {
                    <p>@quality.name</p>
                    break;
                }

            }
        </td>

        @if (User.Identity.GetUserId() == item.ownerId)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        }
    </tr>
    }

</table>