﻿@model ItemStore.Models.Item
@{
    ViewBag.Title = "Create";
}
@if (ViewBag.Error != null && ViewBag.Error != "")
{
    <h4>@ViewBag.Error</h4>
}
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <h4>Quantity</h4>
            <div>
                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
            <h4>Quality</h4>
            <div>
                <select class="form-control" name="QualityId">
                    @foreach (var quality in ViewBag.Qualities)
                    {
                        <option value=@quality.id>@quality.name</option>
                    }
                </select>
            </div>

            <h4>Price</h4>
            <div>
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
