﻿@model ItemStore.Models.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ItemTypes</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        <h4>Quantity</h4>
        <div>
            @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
        </div>
        <h4>Price</h4>
        <div>
            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
        </div>
        <h4>Quality</h4>
        <div>
            <select class="form-control" name="qualityId">
                @foreach (var quality in ViewBag.Qualities)
                {
                    if (Model.qualityId == quality.id)
                    {
                        <option value=@quality.id selected="selected">@quality.name</option>
                    }
                    else
                    {
                        <option value=@quality.id>@quality.name</option>
                    }

                }
            </select>
        </div>
        <div>
            @Html.HiddenFor(model => model.itemTypeId)
        </div>
        <div>
            @Html.HiddenFor(model => model.ownerId)
        </div>
        <div>
            @Html.HiddenFor(model => model.date)
        </div>
    </div>
   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Back", "Index", new { itemTypeId = Model.itemTypeId })
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
