﻿@using Microsoft.AspNet.Identity
@model IPagedList<ItemStore.Models.Item>
@using PagedList.Mvc;
@using PagedList;

<p>
    @Html.ActionLink("Create New", "Create", new { itemTypeId = ViewBag.itemtype.id })
</p>

@{
    ViewBag.Title = "Index";
}
<p>
    @using (Html.BeginForm("Index", "Item", FormMethod.Get))
    {
        <input type="text" name="search">
        <input type="hidden" name="itemTypeId" value=@ViewBag.itemtype.id>
        <input type="submit" name="submit" value="Search">
    }
</p>
<table class="table">
    <tr>
        <th>
            Owner
        </th>
        <th>
            ItemType
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>

        <th>Quality</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @foreach (var owner in ViewBag.owners)
                {
                    if (owner.Id == item.ownerId)
                    {
                        <p>@owner.UserName</p>
                        break;
                    }

                }
            </td>
            <td>
                @ViewBag.itemtype.name
            </td>
            <td>
                @item.price
            </td>
            <td>
                @item.quantity
            </td>
            <td>
                @foreach (var quality in ViewBag.Qualities)
                {
                    if (quality.id == (item.qualityId))
                    {
                        <p>@quality.name</p>
                        break;
                    }

                }
            </td>

            @if (User.Identity.GetUserId() == item.ownerId)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            }
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Item", new { search = Request.QueryString["search"], i, itemTypeId = ViewBag.itemtype.id }))
