﻿@model IPagedList<ItemStore.Models.Item>
@using PagedList.Mvc;
@using PagedList;

<div class="row">
    @foreach (var item in @Model)
    {
        <div class="col-sm-4">
            @{ItemStore.Models.Item i = item;}
            @Html.Partial("_displayItemsPartial", i)
        </div>
    }
</div>
@Html.PagedListPager(Model, i => Url.Action("Items", "Item", new {i = i}))