﻿
@{ var itemType = ((ItemStore.Controllers.ItemController)this.ViewContext.Controller).GetItemType(@Model.itemTypeId);}
@{ var ownerName = ((ItemStore.Controllers.ItemController)this.ViewContext.Controller).GetOwnerName(@Model.ownerId);}
@{ var Quality = ((ItemStore.Controllers.ItemController)this.ViewContext.Controller).getQuality(@Model.qualityId);}
<div class="card" style="width: 18rem; font-size:8pt">
    @{ String[] urlSplit = itemType.imageURL.Split('.');
        urlSplit[0] = "https://previews";
        string imageurl = String.Join(".", urlSplit);
    }
    <img class="card-img-top" src=@imageurl style="max-height:70px;">
    <div class="card-body">
        <h5 class="card-title">@itemType.name</h5>
        @if (ownerName != null)
        {
            String name = ownerName.UserName;
            String id = ownerName.Id;
            <p>Owner: @Html.ActionLink(name, "UserItems", new { userId = id })</p>
        }
        else
        {
            <p class="card-text">Owner: No Owner Exists!</p>
        }
        <p class="card-text">Quantity: @Model.quantity</p>
        <p class="card-text">Quality: @Quality</p>
        <p class="card-text">Price: @Model.price</p>
    </div>
</div>