﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<center>
    <div>
        <h1>
            You have encountered an Error while navigating through the page!
        </h1>
    </div>
    <div>
        <h3>Please click down here to go back!</h3>
        @Html.ActionLink("Back to Home", "Index", "Home");
    </div>
</center>

