﻿@model IPagedList<ItemStore.Models.Category>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}



<h2>Category</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

    <p>
        @using (Html.BeginForm("Index", "Category", FormMethod.Get))
        {
            <input type="text" name="search">
            <input type="submit" name="submit" value="Search">
        }
    </p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.name
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Add ItemType", "Index", "ItemType", new { categoryId = item.id }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Add ItemType", "Index", "ItemType", new { categoryId = item.id }, null)
                </td>
            }
        </tr>
        }

</table>
<br />
@Html.PagedListPager(Model, i => Url.Action("Index","Category", new { i, search=Request.QueryString["search"]}))